/* ##########################################################      HEADER/NAV      ########################################################## */
body{
    font-family: 'Raleway';                           /*police Raleway*/
    color: black;
    max-width: 1440px;
    width: auto;
<<<<<<< Updated upstream:style.css
    margin: auto;
=======
    margin: 0 auto;
>>>>>>> Stashed changes:styles/styles.css
    font-size: 0.95em;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< Updated upstream:style.css
    margin: 0 2.8% 0 2.8%;
    padding-top: 25px;
=======
    padding-top: 2%;
>>>>>>> Stashed changes:styles/styles.css
}
nav{
    position: relative;
}

header nav a{
    text-decoration: none;
    color: black;
<<<<<<< Updated upstream:style.css
    font-weight: 500;
    padding: 2em;
=======
    font-weight: 400;
    padding: 2em;
}
nav a:visited{
    text-decoration: none;
>>>>>>> Stashed changes:styles/styles.css
}
.sign-up{
    color: #0065fc;
    font-weight: bolder;
}

nav a:hover{                                     /* barre au-dessus du texte */
    color: #0065fc;
    border-top: 2px solid
}
/* ##########################################################      Recherche et Filtres     ########################################################## */
main{
    height: 1344px;
    padding-left: 20px;
}
.parametres{
    position: relative;
    margin: 0 3.2% 0 3.2%;
    display: flex;
    flex-direction: column;
}
.parametres h1{
    font-weight:800;
    margin-bottom: 0;
    font-size: 1.3em;
}
.parametres p{
    margin-top: 7px;
    font-size: 1em;
    font-weight: 600;
}
form {
    margin: 0.8em 0 1em 0;
    display: flex;
    justify-content: flex-start;
}
.map{
    font-size: 1.1em;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}
.map:hover{
    font-size: 1.3em;
}
input{
    height: 43.5px;
    padding: 0 0 0 1em;
    margin: 0;
    width: 17%;
    min-width: 155px;
    border: 2px solid #F2F2F2;
    font-size: 1.1em;
    font-family: inherit;
    font-weight: 600;
}
input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}
button{
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 1.1em;
    font-weight: 600;
    height: 45px;
    width: 125px;
    padding: 10px;
    margin: 0em;
    border-radius: 0 16px 16px 0;
    border: none;
}
.fa-search{
    display: none;
}
button:hover{
    font-size: 1em;
    font-weight: inherit;
}
.filtres{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    height: 115px;
}
.filtres span{
    font-weight: 800;
    font-size: 1.15em;
    display: block;
}
.filtres div{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
    cursor: pointer;
}
.icon{
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    height: 47px;
    width: 45px;
    margin: 0;
}
 .filtres div span{
    font-weight: 800;
    font-size: 1.1em;
    margin-left: 25px;
    margin-right: 25px;
}
.filtres div:hover{
    border: 2px solid #0065fc;
    background-color: #DEEBFF;
    transition: 0.2s;
}
.filtres div:hover .descriptionfiltre{
    color: #0065FC;
    transition: 0.2s;
}
.filtres div:hover .icon{
    background-color: #0065FC;
    color: white;
    transition: 0.2s;
}
.phraseinfo{
    font-weight: 600;
    font-size: 0.90em;
}
.cercle{
    color: #0065FC;
    font-size: 0.70em;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    height: 1.25em;
    width: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    padding: 1px;
}
.information{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1.2em;
}                

/* ################################################     Hébergement et les plus populaires     ################################################ */

.hebergement{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 30px 30px ;
}
.hebergement h2{
    font-size: 1.3em;
    width: fit-content;
    margin: 0 0 25px 0;
}
.hebergement p{
    letter-spacing: 0.1px;
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    width: fit-content;
    margin-top: 50px;
}
.hebergement p:hover{
    width: fit-content;
    border-bottom: 2px solid black;
}
.hebergement section{
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 61%;
    padding: 40px;
}
.hebergement section .mapheb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 415px;
}
.hebergement section .mapheb div{
    display: flex;
    justify-content: space-between;
}
.hebergement section .mapheb div article{
    border: 1px solid white;
    border-radius: 15px;
    height: 190px;
    width: 30%;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform .2s;
}
.hebergement section .mapheb div article:hover {
    -ms-transform: scale(1.019); 
    -webkit-transform: scale(1.019);
    transform: scale(1.019); 
  }
.hebergement section .mapheb div article:active{
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.mapheb article img{
    height: 115px;
    width: 98%;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.mapheb article h3{
    font-size: 1em;
    margin: 8px 0 4px 15px;
}
.description{
    margin: 0 0 0 15px;
    font-size: 0.9em;
    font-weight: 400;
}
.etoiles{
    display: flex;
    justify-content: flex-start;
    margin: 7px 0 0 15px;
    font-size: 0.8em;
}
.bleu{
    color: #0065FC;
}
.grise{
    color: #F2F2F2;
}
aside{
    background-color: #F2F2F2;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    width: 30.1%;
}
.populaire{
    all: unset;
    font-family: inherit;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin: 40px 34px 0px 30px;
}
aside div{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 30px 5px 30px;
}
aside div article:hover {
    transform: scale(1.019); 
}
aside div article:active{
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
aside div article img{
    width: 39%;
    min-width: 39%;
    height: 140px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}
aside div article div{
    all: unset;
    font: inherit;
    font-size: inherit;
    padding-left: 20px;
    height: auto;
}
aside div article{
    border: 1px solid white;
    background-color: white;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    padding: 4px;
    display: flex;
    transition: transform .2s;
}
aside div article div h3:nth-child(1){
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-right: 8px;
} 
aside div article div h3:nth-child(2){
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 10px;
} 
aside div article div span{
    all: unset;
    font: inherit;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}
.fa-chart-line{
    font-size: 1.6em;
}
.etoiles_populaire{
    all: unset;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    padding: 50px 0 2px 0;
}
.etoiles_populairemilieu{
    box-sizing: border-box;
    position: absolute;
    all: unset;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    padding: 33px 0 3px 0;
}
/* ##########################################################      Activités      ########################################################## */
.activites{
    height: 700px;
    width: auto;
    margin: 35px ;
    padding: 0;
}
.activites h2{
    font-size: 1.3em;
    width: fit-content;
    display: flex;
    justify-content: left;
    margin: 0 0 40px 0;
}
.part_activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-block1{
    height: 384px;
    width: 293px;
}
.image-block3a{
    height: 183px;
    width: 310px;
}
.image-block3b{
    height: 104px;
    width: 310px;
}
.image-block3c{
    height: 140px;
    width: 310px;
}
.image-block3d{
    height: 147px;
    width: 310px;
}
.block2,.block3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block1,.block3{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 17px;
}
.block1:hover,.block3:hover{
    -ms-transform: scale(1.019); 
    -webkit-transform: scale(1.019); 
    transform: scale(1.019); 
    cursor: pointer;
}
.block1:active,.block2:active,.block3:active{
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.activites article img{
    border-radius: 17px 10px 0 0;
    object-fit: cover;
}
.activites article h3{
    font-size: 1em;
    margin-left: 15px;
}

footer{
    background-color: #F2F2F2;
    margin-top: 250px;
    max-width: 2560px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
footer section{
    padding: 1em 1em;
    width: 30%;
}
footer section h2{
    margin-bottom: 10px;
    font-size: 1.2em;
}
footer section p{
    margin-top: 20px;
    cursor: pointer;
    width: fit-content;
    width: -moz-fit-content; 
}
footer section p:hover{
    border-bottom: 1px solid black;
}

@media (min-width: 768px) and (max-width: 1024px){
    .hebergement{
        flex-direction: column-reverse;
        margin: 0;
    }
    main{
        height: auto;
    }
    .activites{
        height: 500px;
    }
    .hebergement aside{
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        height: auto;
    }
    .hebergement aside div{
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 40px 0px 40px;
    }
    .hebergement aside .populaire{
        all: unset;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 40px 40px 0 40px;

    }
    .hebergement aside div article{
        width: 98%;
        margin: 4px;
        padding: 3px;
        height: 149px;
    }
    .hebergement aside div article img{
        height: 150px;
    }
    .hebergement aside div article div{
        padding-left: 10px;
        padding-right: 0;
    }
    .hebergement section{
        width: auto;
    }
    .part_activites{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 930px;
    }
    .image-block3a,.image-block3b,.image-block3c,.image-block3d{
        height: 145px;
        width: 285px;
    }
    .block1,.block2,.block3 div{
        margin: 30px;
    }
    .filtres div:nth-child(5)
    {
        margin-left: 77px;
    }
    footer{
        margin-top: 10px;
    }
}

@media all and (max-width: 871px){
    .hebergement{
        flex-direction: column-reverse;
        margin: 0;
    }
    main{
        height: auto;
    }
    .activites{
        height: 1060px;
    }
    .hebergement aside{
        width: 100%;
    }
    .hebergement section{
        width: auto;
    }
    .part_activites{
        justify-content: space-between;
        height: 930px;
    }
    input{
        width: 75%;
    }
} 

@media screen and (max-width: 610px) {
    .hebergement section{
        background-color: #FFFFFF;
        padding: 30px;
    }
    .hebergement section .mapheb div{
        flex-direction: column;
        margin: 0;
        justify-content: space-between;
        height: 650px;
        width: 100%;
    }
    .hebergement section .mapheb{
        height: 1330px;
        width: 100%;
    }
    .hebergement section .mapheb div article{
        width: auto;
    }
    aside{
        border-radius: 0px;
    }
    .parametres{
        height: 500px;
    }
    .filtres h3{
        position: absolute;
        margin-top: -33px;
    }
    .filtres{
        margin-top: 30px;
        height: 300px;
        width: 331px;
        display: flex;
<<<<<<< Updated upstream:style.css
        margin-left: 5px;
        flex-direction: row;
=======
        flex-direction: column;
>>>>>>> Stashed changes:styles/styles.css
        align-items: flex-start;
        justify-content: space-between;
    }
    .filtres div{
        margin: 0;
        font-size: 0.9em;
    }
    .filtres div span{
        margin-left: 11px;
    }
    .activites{
        height: 1020px;
        width: 300px;
        margin: 0 0 0 27px;
    }
    .part_activites div{
        height: 375px;
        
    }
    .image-block1,.image-block2,.image-block3a,.image-block3b,.image-block3c,.image-block3d{
        height: 120.2px;
        width: 334px;
    }
    .block1,.block3{
        width: 334px;
        height: 165px;
        margin: 0 10px 30px -6px;
    }
    .part_activites{
        flex-direction: column;
    }
    .part_activites div{
        width: 80%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    footer section{
        width: 80%;
    }
    button span{
        display: none;
    }
    .fa-search{
        display: inline;
    }
    .map{
        height: 50px;
    }
    button{
        width: 55px;
        border: none;
        height: 50px;
        border-radius: 16px 16px 16px 16px;
    }
    input{
        height: 50px;
        border: none;
    }
    form{
        margin-top:20px;
        width: 360px;
        border: 3px solid #F2F2F2;
        border-radius: 16px 16px 16px 16px;
        border-right: none;
        border-left: none;
        height: 50px;
        margin: 0.6em 0 1.7em 0;
    }
    header {
        display: block;
    }
<<<<<<< Updated upstream:style.css
    header img {
        margin: 0 1px 0 12px;
=======
>>>>>>> Stashed changes:styles/styles.css

    header nav {
        display: flex;
        justify-content: space-between;
        position: unset;
        margin-top: 25px;
    }
<<<<<<< Updated upstream:style.css
    header nav a {
=======
}
header nav a {
>>>>>>> Stashed changes:styles/styles.css
        padding: 0 0 20px 0;
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
        text-align: center;
}

    header nav a:hover {
        border-bottom: 3px solid #0065FC;
        border-top: unset;
        padding-top: 0;
    }
    .sign-up {
        all: unset;
        position: absolute;
<<<<<<< Updated upstream:style.css
        top: 40px;
        right: 10px;
=======
        top: 19px;
        right: 0px;
>>>>>>> Stashed changes:styles/styles.css
        width: unset;
        color: #0065FC;
        font-weight: bold;
    }
    .sign-up:hover{
        all: unset;
        border-top: none;
        color: #0065FC;
        font-weight: bold;
        position: absolute;
        top: 40px;
        right: 10px;
        width: unset;
    }
    .parametres h1{
<<<<<<< Updated upstream:style.css
        margin-top: 1.5em;
=======
        margin-top: 1.8em;
>>>>>>> Stashed changes:styles/styles.css
    }
}
